body {
  margin: 1.5em;
  background-color: aliceblue;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Estilos del encabezado */
header {
  display: flex;
  background-color: beige;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  
}

header nav ul {
  display: flex;
  gap: 0.5em;

}


header li a {
  color: rgb(6, 6, 139); 
  font-size: 1.5em;
  margin: 0 1.5em;
  font-weight: bold;
}

header nav ul li a {
  color:  black;
  display: flex;
  align-items: center;
  
}

/* Estilos del contenido principal */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}
/* Estilo para el botón */
#btn-generar {
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 20px 30px; /* Espacio interior */
  font-size: 18px; /* Tamaño del texto */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor al pasar */
  border-radius: 5px; /* Bordes redondeados */
}


/* Estilo para el pie de página */
#footer {
  text-align: center; /* Centrar el contenido */
  margin-top: 20px; /* Margen superior */
}

/* Estilo para el párrafo dentro del pie de página */
#frase {
  font-style: italic; /* Texto en cursiva */
  font-size: 30px; /* Tamaño del texto */
  color: black; /* Color del texto */
  font-weight: bold;
}


.seccion-2  {
  text-align: center;
}
 
.item {
  display: inline-block;
  vertical-align: top;
  margin: 0.5em;
  font-size: initial;
  text-align: left;
}

.item img {
  max-width: 100%;
  height: auto;
}

.item p {
  margin-top: 0.5em;
}

/* Estilos del pie de página */
footer ul {
  color: aliceblue;
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: initial;
  justify-content: space-around;
  font-size: 1.5em;
  padding: 0.5em;
}


#check {
  display: none;
}


.checkbtn {
  font-size: 25px;
  color: rgb(218, 83, 83);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* Estilos para dispositivos de hasta 768px de ancho (tabletas) */
@media (max-width: 768px) {
body {
  margin: 1em;
  
  }

header {
  background-color: beige;
  padding: 0.5em;

  }

header a i {
  font-size: 1.5em;
  
  }
.acerca de {
  text-align: center;


  .img-container {
    margin-bottom: 40px;
  }
  
  
.checkbtn {
  display: block;
}
  
header ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #c7d3df;
  text-align: center;
  top: 80px;
  left: 100%;
  transition: all 0.5s;
}


#check:checked ~ ul {
  left: 0;
  display: block;
}
  
header nav ul li {
  
  display: block;
  margin: 50px 0;
  line-height: 30px;

}
      
header nav ul li a {
  font-size: 20px;
  
  }

#check:checked ~ .checkbtn {
   color: #c7d3df;
}  


footer ul {
  font-size: 1.5em;
  padding: 0.5em;
  
  }


/* Estilos para dispositivos de hasta 480px de ancho (móviles) */
@media (max-width: 480px) {
body {
  margin: 0.5em;
  }

header {
  flex-direction: column;
  background-color: aqua;
}


header a i {
  margin: 2.5em 0;
  }
  
footer ul {
  font-size: 1em;
  padding: 0.3em;
  }
}